[submodule ".registry"]
	path = .registry
	url = https://github.com/paleolimbot/paleolimbot.r-universe.dev
	branch = HEAD
[submodule "sedonadb"]
	path = sedonadb
	url = https://github.com/apache/sedona-db
	subdir = r/sedonadb
